# Ignora archivos residuales python
*.pyc

# Ignora carpeta de tareas
tarea *
Cheat sheet numpy/

# Ignora archivos residuales auxiliares
aux2/otros/

# Ignora archivos taller
taller/

# Ignora accesos directos
*.lnk
.idea/